

  .img-about-me img {
    border: 1px solid black;
    border-radius: 15px;
    opacity: 0.5 !important;
    width: 100%;
    height: auto;
  }

  .btn.btn-inverse.btn-main-2{
    color: #DD7F6C;
    border-color: #DD7F6C;
  }
  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
      transform: scale(1.1);
  }
  