<div class="clr-col-12 clr-row clr-justify-content-center" id="topScroll">

    <div class="clr-col-lg-8 clr-col-12">
        <div class="card">
            <div class="card-block">

                <div class="clr-row clr-justify-content-between">
                    <div class="clr-col-lg-12 clr-col-12">
                        <p>
                            ¡Hola!, me llamo Paco Nieto, natural de Madrid (España), tengo 61 añitos y
                            toda una vida por delante para acompañarte profesionalmente
                            desarrollando y poniendo voz a tus proyectos.
                            <br>
                            Soy locutor (voice over talent) y actor de doblaje desde hace algo más de 10
                            años.</p>
                        <h4>Trabajo de forma online o presencial ¿cómo lo prefieres?</h4>
                        <p>
                            Todo este tiempo he trabajado con agencias, productoras y los mejores
                            estudios de grabación y lo seguiré haciendo, si así lo prefieres.
                            Pero desde ahora también dispongo de estudio de grabación propio en el
                            que puedo grabar todas las locuciones online que necesites: cuñas de
                            radio, spot TV, vídeos corporativos... y te las envío por email. ¡Así de cómodo
                            y de rápido!<br>
                            También puedo conectarme en remoto a cualquier estudio y grabar en
                            tiempo real.</p>
                            <h4>¿Cuál es tu proyecto?</h4>
                            <p>
                                Tengo una voz madura, como corresponde a mi edad, profunda, cálida,
                                cercana… y aún bastante novedosa.
                                Te ofrezco compromiso y seriedad para lograr el éxito en todo tipo de
                                trabajos que me propongas:</p>
                          
                    </div>
                    <div class="clr-col-lg-8 clr-col-12">
                        <p class="p4">
                            Grabación de cuñas de publicidad para radio, spots de TV o
                            para Internet.<br>
                            Doblaje de personajes reales o de animación para cine y TV.<br>
                            Voz para vídeos corporativos y de empresa.<br>
                            Voz en off para documentales y reálitys.<br>
                            Narraciones.<br>
                            Locutor para eLearning.
                        </p>
                        <p>
                            Además…<br>
                            Puedes conocer algo más de mi trayectoria profesional en:<br>
                            <a href="http://www.eldoblaje.com/datos/FichaActorDoblaje.asp?id=73825"
                                class="nav-link nav-text">www.eldoblaje.com</a><br>
                            <a href="https://www.doblajevideojuegos.es/fichaactor/paco-nieto"
                                class="nav-link nav-text">www.doblajevideojuegos.es</a>
                            <br>
                            Escucha diferentes muestras de mi trabajo:
                            <br>
                            ¡Soy una buena elección!
                            <br>
                        </p>
                    </div>
                    <div class="clr-col-lg-4 clr-col-12">
                        <br>
                        <div class="img-about-me">
                            <img src="./assets/img/IMG_7108.jpg" alt="foto4" />
                            <!-- <img src="./assets/img/IMG_7062bisbis.jpg" alt="foto4" /> -->
                        </div>
                    </div>
                </div>
                
                <p>
                    <button class="btn btn-inverse btn-main-2 hvr-grow" [routerLink]="['/contact']">Contacta</button>
          

                </p>
            </div>
        </div>
    </div>
    <!-- <div class="clr-col-lg-2 clr-col-12" style="margin-top:12px">
            <div class="img-about-me">
                <img src="./assets/img/IMG_7108.jpg" alt="foto4" />
            </div>
        </div> -->
</div>