<div class="clr-row clr-justify-content-around">
    <div class="clr-col-lg-2 clr-col-md-5 clr-col-12 card clickable">
        <div class="card-block">
            <p class="card-text">
               Demo Mercedes Benz
            </p>
        </div>
        <div class="card-img">
            <img src="./assets/img/mercedesLogoNegative.png" (click)="pausedAllElements(); audioMercedesBenz.play()">
        </div>
    </div>
    <div class="clr-col-lg-2 clr-col-md-5 clr-col-12 card clickable">
        <div class="card-block">
            <p class="card-text">
                Demo Spot Chicco 2010
            </p>
        </div>
        <br>
        <div class="card-img">
            <img src="./assets/img/Chicco_Logo_negative.png" (click)="pausedAllElements(); audioChicco.play()">
        </div>
    </div>
</div>