<div class="clr-row clr-justify-content-around">
    <div class="clr-col-lg-2 clr-col-md-6 clr-col-12 card clickable">
        <div class="card-img">
            <img src="./assets/img/Tom&jerry.jpg">
        </div>
        <div class="card-block">
            <p class="card-text">
                Tom & Jerry
            </p>
        </div>
    </div>
    <div class="clr-col-lg-2 clr-col-md-6 clr-col-12 card clickable">
        <div class="card-img">

            <img src="./assets/img/Baki.jpg" (click)="pausedAllElements('B');">
        </div>
        <div class="card-block">
            <p class="card-text">
                Baki
            </p>
        </div>
    </div>
    <div class="clr-col-lg-2 clr-col-md-6 clr-col-12 card clickable">
        <div class="card-img">
            <img src="./assets/img/Regal_academi.jpg">
        </div>
        <div class="card-block">
            <p class="card-text">
                Regal Academy
            </p>
        </div>
    </div>
    <div class="clr-col-lg-2 clr-col-md-6 clr-col-12 card clickable">
        <div class="card-img">
            <img src="./assets/img/mi-academia-heroes-audiocomic.jpg" (click)="pausedAllElements('');">
        </div>
        <div class="card-block">
            <p class="card-text">
                La academia de héroes
            </p>
        </div>
    </div>
</div>
<br>
<div class="clr-row clr-justify-content-around">
    <div class=" clr-col-lg-3  clr-col-md-6  clr-col-12 card clickable" (click)="pausedAllElements('')">
        <div class="card-img">
            <video id="video" width="350" height="240" controls>
                <source src="./assets/video/MiAcademiaDeHeroes2.mp4" type="video/mp4">
            </video>
        </div>
        <div class="card-block">
            <p class="card-text">
                Mi academia de Héroes
            </p>
        </div>
    </div>
    <div class=" clr-col-lg-3  clr-col-md-6  clr-col-12 card clickable" (click)="pausedAllElements('')">
        <div class="card-img">
            <video id="video2" width="350" height="240" controls>
                <source src="./assets/video/VideoTomJerry.mp4" type="video/mp4">
            </video>
        </div>
        <div class="card-block">
            <p class="card-text">
                Tom & Jerry
            </p>
        </div>
    </div>
    <div class=" clr-col-lg-3  clr-col-md-6  clr-col-12 card clickable" (click)="pausedAllElements('F');">
        <div class="card-img">
            <video id="video3" width="350" height="240" controls>
                <source src="./assets/video/Fandub.mp4" type="video/mp4">
            </video>
        </div>
        <div class="card-block">
            <p class="card-text">
                Colaboración Fandub
            </p>
        </div>
    </div>
</div>