
<div class="clr-row clr-justify-content-around">
    <div class="clr-col-lg-2 clr-col-md-3 clr-col-6 card clickable">
        <div class="card-block">            
            <p class="card-text primary-style">
                <span *ngIf="!audioBaki.paused"> <clr-icon shape="play"></clr-icon>&nbsp; &nbsp;</span> Baki
            </p>
        </div>
        <div class="card-img">
            <img src="./assets/img/baki.png" (click)="pauseClip(audioBaki)">
        </div>
    </div>
    <div class=" clr-col-lg-2  clr-col-md-3  clr-col-6 card clickable" (click)="source = './assets/video/Regal_Academi.mp4';  sourceSelected = true; title='Regal Academy'; pausedAllElements('')">
        <div class="card-block">
            <p class="card-text primary-style">
                Regal Academy
            </p>
        </div>
        <div class="card-img">
            <img src="./assets/img/regal_academy.png">
        </div>
    </div>
    <div class=" clr-col-lg-2  clr-col-md-3  clr-col-6 card clickable" (click)="source = './assets/video/MiAcademiaDeHeroes2.mp4';  sourceSelected = true; title='Mi academia de Héroes'; pausedAllElements('')">
        <div class="card-block">
            <p class="card-text primary-style">
                Mi academia de Héroes
            </p>
        </div>
        <div class="card-img">
            <img src="./assets/img/mi-academia-heroes-audiocomic.jpg">
        </div>
    </div>
</div>
<div class="clr-row clr-justify-content-around">
    <div class=" clr-col-lg-2  clr-col-md-3  clr-col-6 card clickable" (click)="source = './assets/video/VideoTomJerry.mp4';  sourceSelected = true; title='Tom & Jerry'; pausedAllElements('')">
        <div class="card-block">
            <p class="card-text primary-style">
                Tom & Jerry
            </p>
        </div>
        <div class="card-img">
            <img src="./assets/img/tom-y-jerry-logo.png">
        </div>
    </div>
    <div class=" clr-col-lg-2  clr-col-md-3  clr-col-6 card clickable"  (click)="source = './assets/video/Fandub.mp4';  sourceSelected = true; title='Colaboración Fandub'; pausedAllElements('')">
        <div class="card-block">
            <p class="card-text primary-style">
                Colaboración Fandub
            </p>
        </div>
        <div class="card-img">
                <img src="./assets/img/g3s.png">
        </div>
    </div>
</div>
<div class="modal" *ngIf="sourceSelected">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" type="button">
                    <clr-icon aria-hidden="true" shape="close" (click)="sourceSelected = false"></clr-icon>
                </button>
                <h3 class="modal-title">{{title}}</h3>
            </div>
            <video id="Oswald" width="100%" height="100%" controls autoplay>
                <source src="{{source}}" type="video/mp4">
            </video>
        </div>
    </div>
</div>
<div  *ngIf="sourceSelected" class="modal-backdrop" aria-hidden="true"></div>