
<div class="clr-row clr-justify-content-around">
    <div class="clr-col-lg-2 clr-col-md-3 clr-col-12 card clickable">
        <div class="card-block">
            <p class="card-text">
                Diablo III
            </p>
        </div>
        <div class="card-img">
            <img src="./assets/img/DiabloIII.jpg" (click)="pausedAllElements(); audioDiablo.play()">
        </div>
    </div>
    <div class=" clr-col-lg-2  clr-col-md-3  clr-col-12 card clickable" >
        <div class="card-block">
            <p class="card-text">
               Dishonored
            </p>
        </div>
        <div class="card-img">
            <img src="./assets/img/Dishonored.jpg" (click)="pausedAllElements(); audioDishonored.play()">
        </div>
    </div>
    <div class="clr-col-lg-2 clr-col-md-3 clr-col-12 card clickable">
        <div class="card-block">
            <p class="card-text">
                The Witcher
            </p>
        </div>
        <div class="card-img">
            <img src="./assets/img/TheWitcher.jpg" (click)="pausedAllElements(); audioTheWitcher.play()">
        </div>
    </div>
</div>
