    <div class="clr-col-12  clr-row clr-justify-content-center" id="topScroll">
        
        <div class="clr-col-12">
            <div class="card clr-row clr-col-6">
                <div class="card-header">
                    Contacto
                </div>
                <div class="card-block">
                    <div class="card-text">
                    <i><p>(Formuario en mantenimiento)</p></i>
                        <p>Mientras tanto, puedes contactar conmigo y pedirme presupuesto <b>por mail</b> a través de las siguientes cuentas:</p>

                        <p>
                            <a href="mailto:info@paconietolocutor.com">info@paconietolocutor.com</a><br>
                            <a href="mailto:info@paconietolocutor.com">contacta@paconietolocutor.com</a><br>
                            <a href="mailto:info@paconietolocutor.com">presupuesto@paconietolocutor.com</a>
                        </p>

                        <br>
                        <p>También puedes llamarme al número +34 627447155.</p>
                        <!-- <form clrForm [formGroup]="itemContact" clrLayout="vertical">
                            <div class="clr-row">
                                <div class="clr-col-md-6 clr-col-12">
                                    <div class="form-group">
                                        <input clrInput placeholder="Tu nombre *" formControlName="name" required />
                                       
                                    </div>
                                    <input clrInput placeholder="Tu teléfono *" formControlName="phone" required />
                                    <input clrInput placeholder="Tu email *" type="email" [email]="true"
                                        formControlName="email" required />
                                </div>
                                <div class="clr-col-md-6 clr-col-12">
                                    <input clrInput placeholder="Asunto *" formControlName="asunto" required />
                                    <textarea placeholder="Mensaje *" cols=40 clrTextarea required
                                        formControlName="description" name="description"></textarea>
                                </div>
                            </div>
                        </form> -->
                    </div>
                </div>
                <!-- <div class="card-footer">
                    <button class="btn btn-sm btn-link increment-button"
                        [disabled]="this.itemContact.status === 'INVALID'" >Enviar formulario</button>
                              <button class="btn btn-sm btn-link increment-button" (click)="itemContact.reset();">Limpiar</button>
                </div> -->
            </div>
        </div>
        <div class="clr-col-2">
            <div class="clr-row clr-justify-content-center">
                <img src="./assets/img/micro1.png" style="opacity: 0.5;">
            </div>
        </div>
    </div> 

<!-- 
    <div class="clr-row clr-justify-content-center">
        <div class="clr-col-2">
            <div class="clr-row clr-justify-content-center">
                <img src="./assets/img/micro1.png" style="opacity: 0.5;">
            </div>
        </div>
        <div class="clr-col-lg-8 clr-col-12">
            <div class="card">
                <div class="card-header">
                    Contacto
                </div>
                <div class="card-block">
                    <div class="card-text">

                        <p>Puedes contactar y pedirme presupuesto <b>por mail</b>, o si lo prefieres
                            <b>cumplimentar y enviarme el siguiente formulario.</b></p>

                        <p><a href="mailto:info@paconietolocutor.com">Envíar correo a info@paconietolocutor.com</a></p>
                        <br>
                        <form clrForm [formGroup]="itemContact" clrLayout="vertical">
                            <div class="clr-row">
                                <div class="clr-col-md-6 clr-col-12">
                                    <div class="form-group">
                                        <input clrInput placeholder="Tu nombre *" formControlName="name" required />
                                       
                                    </div>
                                    <input clrInput placeholder="Tu teléfono *" formControlName="phone" required />
                                    <input clrInput placeholder="Tu email *" type="email" [email]="true"
                                        formControlName="email" required />
                                </div>
                                <div class="clr-col-md-6 clr-col-12">
                                    <input clrInput placeholder="Asunto *" formControlName="asunto" required />
                                    <textarea placeholder="Mensaje *" cols=40 clrTextarea required
                                        formControlName="description" name="description"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-link increment-button"
                        [disabled]="this.itemContact.status === 'INVALID'" >Enviar formulario</button>
                              <button class="btn btn-sm btn-link increment-button" (click)="itemContact.reset();">Limpiar</button>
                </div>
            </div>
        </div>
    </div> -->