<div class="content-container">
    <clr-vertical-nav>
        <a clrVerticalNavLink routerLink="./charmander" routerLinkActive="active">Locución</a>
        <a clrVerticalNavLink routerLink="./jigglypuff" routerLinkActive="active">Publicidad</a>
        <a clrVerticalNavLink routerLink="./pikachu" routerLinkActive="active">Doblaje</a>
        <a clrVerticalNavLink routerLink="./raichu" routerLinkActive="active">Documentales</a>
        <a clrVerticalNavLink routerLink="./snorlax" routerLinkActive="active">Videos corporativos</a>
    </clr-vertical-nav>
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>
</div>