<clr-main-container style="display: inline-table;">
  <div class="clr-row clr-justify-content-center" style="margin:0px;">
    <div class="branding clr-row clr-col-6 clr-col-md-4 clr-col-xl-2">
      <a class="nav-link" [routerLink]="['/home']">
        <img src="./assets/img/paconietolocutor.png"
          style="margin:12px;background: linear-gradient(to bottom, rgba(url('./assets/img/logo02112.png'), 0.0), rgba(url('./assets/img/logo02112.png'), 1.0));"
          class="clr-col-12 clr-col-md-12">
      </a>
    </div>
  </div>
  <clr-header class="header-1 clr-justify-content-center">
    <div class="header-nav clr-row clr-justify-content-center" [clr-nav-level]="1">
      <a [routerLink]="['/home']" routerLinkActive="active" class="increment-button nav-link nav-text">Inicio</a>
      <a [routerLink]="['/about-me']" routerLinkActive="active" class="increment-button nav-link nav-text">Sobre mí</a>
      <a [routerLink]="['/portfolio']" routerLinkActive="active" class="increment-button nav-link nav-text">Portfolio</a>
      <a [routerLink]="['/contact']" routerLinkActive="active" class="increment-button nav-link nav-text">Contacto</a>
    </div>
  </clr-header>
  <div class="content-container">
    <!-- style="display:inline-block" -->
    <div class="content-area">
      <router-outlet></router-outlet>
      <app-footer-cmp></app-footer-cmp>
    </div>
  </div>

</clr-main-container>