<clr-main-container>
  <div class="clr-row clr-justify-content-center" style="margin:0px;">
    <div class="branding">
      <a class="nav-link" [routerLink]="['/home']">
        <clr-icon shape="microphone" size="48"></clr-icon>
        <span class="title">Paco Nieto Locutorio</span>
      </a>
    </div>
  </div>
  <clr-header class="header-3 clr-justify-content-center">
    <!-- <div class="branding">
      <a class="nav-link" [routerLink]="['/home']">
        <clr-icon shape="microphone" size="48"></clr-icon>
        <span class="title">Paco Nieto Locutorio</span>
      </a>
    </div> -->
    <div class="header-nav clr-row clr-justify-content-center" [clr-nav-level]="1">
      <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link nav-text">Inicio</a>
      <a [routerLink]="['/about-me']" routerLinkActive="active" class="nav-link nav-text">Sobre mí</a>
      <a [routerLink]="['/portfolio']" routerLinkActive="active" class="nav-link nav-text">Portfolio</a>
      <a [routerLink]="['/contact']" routerLinkActive="active" class="nav-link nav-text">Contacto</a>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
      <!-- <footer class="clr-footer">
        <div class="clr-row clr-col-12">
          <div class="clr-col-3 clr-row  clr-align-items-center">
            <clr-icon shape="phone-handset"></clr-icon>&nbsp;<span>Telf: 916669754</span>
          </div>
          <div class="clr-col-3 clr-row  clr-align-items-center">
            <clr-icon shape="envelope"></clr-icon>&nbsp;<span>Email: paco.nieto@gmail.com</span>
          </div>
        </div>
      </footer> -->
      <!-- <app-footer></app-footer> -->
      <!-- <div class="clr-footer">
        <div class="clr-row clr-col-12">
          <div class=" clr-col-12 clr-col-md-3 clr-row clr-align-items-center">
            <clr-icon shape="phone-handset"></clr-icon>&nbsp;<span>Telf: 916669754</span>
          </div>
          <div class=" clr-col-12 clr-col-md-3 clr-row clr-align-items-center">
            <clr-icon shape="envelope"></clr-icon>&nbsp;<span>Email: paco.nieto@gmail.com</span>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="clr-footer header-5 clr-justify-content-center">
    <div class="clr-row clr-col-12">
      <div class=" clr-col-12 clr-col-md-3 clr-row clr-align-items-center">
        <clr-icon shape="phone-handset"></clr-icon>&nbsp;<span>Telf: 916669754</span>
      </div>
      <div class=" clr-col-12 clr-col-md-3 clr-row clr-align-items-center">
        <clr-icon shape="envelope"></clr-icon>&nbsp;<span>Email: paco.nieto@gmail.com</span>
      </div>
    </div>
  </div>

</clr-main-container>