<clr-main-container>
  <clr-header class="header-3">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="microphone" size="48"></clr-icon>
        <span class="title">Paco Nieto Locutorio</span>
      </a>
    </div>
    <div class="header-nav clr-row clr-justify-content-center" [clr-nav-level]="1">
        <a href="javascript://" class="active nav-link nav-text">Home/Inicio</a>
        <a href="javascript://" class="nav-link nav-text">Sobre mí</a>
        <a href="javascript://" class="nav-link nav-text">Portfolio</a>
        <a href="javascript://" class="nav-link nav-text">Contacto</a>
    </div>
  </clr-header>

</clr-main-container>
<router-outlet></router-outlet>