<br>
<hr style="border: 1px solid #DD7F6C;">
<div class="clr-row clr-col-12" style="color:white;bottom: 12px;position:static;margin-top:24px;">
  <div class="clr-col-12 clr-row">
    <div class=" clr-col-12 clr-col-md-3 clr-align-items-center">
      <clr-icon shape="phone-handset"></clr-icon>&nbsp;<span>Telf: 916669754</span>
    </div>
    <div class=" clr-col-12 clr-col-md-3 clr-align-items-center">
      <clr-icon shape="envelope"></clr-icon>&nbsp;<span>Email: info@paconietolocutor.com</span>
    </div>
  </div>
</div>