<div class="clr-row clr-justify-content-center" style="display:webkit-box" id="topScroll">
    <!-- style="background-color: black;" -->
    <div class="clr-col-12 clr-col-md-6">
        <p>Paco Nieto</p>
        <!-- style="margin-top: 0px;" -->
        <p class="header-card-style">LOCUTOR Y ACTOR DE DOBLAJE</p>
        <h3 style="color:white;">Tengo una voz madura que transmite cercanía, credibilidad y confianza... </h3>
        <h4 style="color:white;">Te ofrezco profesionalidad y calidad al servicio de tu negocio.</h4>
        <br>
        <div class="clr-col-12 clr-row clr-justify-content-center">
            <!-- <clr-icon shape="dot-circle"></clr-icon>&nbsp;&nbsp;
                    <clr-icon shape="dot-circle"></clr-icon>&nbsp;&nbsp;
                    <clr-icon shape="dot-circle"></clr-icon> -->
            <br>
        </div>
        <h4 style="color:white;">Escucha mi voz...</h4>
        <audio controls>
            Animación
            <source src="../../assets/audio/escuchamivoz.mp3" type="audio/mp3">
        </audio>
        <div class="clr-col-12" style="margin-top:24px;margin-bottom: 24px;">
            <button class="btn btn-inverse btn-main-1 hvr-grow" routerLink="../portfolio">Escuchar mas audios</button>
            &nbsp; &nbsp;
            <button class="btn btn-inverse btn-main-2 hvr-grow" routerLink="../about-me">Conóceme</button>
        </div>
    </div>
    <div class="clr-col-12 clr-col-md-6">
        <img src="./assets/img/smile3.jpg" style="border: 5px solid #DD7F6C;padding:0px" class="clr-col-12">
    </div>
</div>