    <div class="clr-row">
        <div class="clr-col-12 clr-row" style="background-color: black;">
            <div class="clr-col-12 clr-col-md-6">
                <p >Paco Nieto</p>
                <p class="header-card-style"> LOCUTOR Y ACTOR DE DOBLAJE</p>
                <h3 style="color:white;">Tengo una voz madura que transmite cercanía, credibilidad y confianza... </h3>
                <h4 style="color:white;">Te ofrezco profesionalidad y calidad al servicio de tu negocio.</h4>
                <br>
                <div class="clr-col-12 clr-row clr-justify-content-center">
                    <clr-icon shape="dot-circle"></clr-icon>&nbsp;&nbsp;
                    <clr-icon shape="dot-circle"></clr-icon>&nbsp;&nbsp;
                    <clr-icon shape="dot-circle"></clr-icon>
                </div>
                <div class="clr-col-12">
                    <h4 style="color:white;">Escucha mi voz...</h4>
                    <audio controls>
                        Animación
                        <source src="../../assets/audio/escuchamivoz.mp3" type="audio/mp3">
                    </audio>
                </div>
                <div class="clr-col-12" style="margin-top:24px;">
                    <button class="btn btn-inverse btn-main-1" routerLink="../portfolio">Escuchar mas audios</button>
                    <button class="btn btn-inverse btn-main-2" routerLink="../about-me">Conóceme</button>
                </div>
            </div>
            <img src="./assets/img/smile_edit.png" class="clr-col-12 clr-col-md-6" >    

        </div>
        
    <div class="clr-col-12 clr-row" style="margin-top:24px;">

        <div class="clr-col-12 clr-col-md-6">
            <div class="card" style="margin-top:0px">
                <div class="card-header" >
                    <p class="header-card-style">Paco Nieto</p>
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <!-- <h2 class="font-small">Tengo una voz madura que transmite cercanía, credibilidad y confianza... </h2> TODO: Clase font size responsiva-->
                        <h2>Tengo una voz madura que transmite cercanía, credibilidad y confianza... </h2>
                        <h3>Te ofrezco profesionalidad y calidad al servicio de tu negocio.</h3>
                        <br>
                        <div class="clr-col-12 clr-row clr-justify-content-center">
                            <clr-icon shape="dot-circle"></clr-icon>&nbsp;&nbsp;
                            <clr-icon shape="dot-circle"></clr-icon>&nbsp;&nbsp;
                            <clr-icon shape="dot-circle"></clr-icon>
                        </div>
                        <div class="clr-col-12">
                            <h4>Escucha mi voz...</h4>
                            <audio controls>
                                Animación
                                <source src="../../assets/audio/escuchamivoz.mp3" type="audio/mp3">
                            </audio>
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
        <img src="./assets/img/smile3.jpg" class="clr-col-12 clr-col-md-6" >  

    </div>
    <div class="clr-col-12 clr-row">
        <div class="clr-row clr-justify-content-center">
            <img src="./assets/img/micro1.png" style="opacity: 0.5;">
        </div>
    </div>
</div>