 /* background-image: url("paper.gif") */
 @media (max-width: 767px) {
   
 }
 .font-small{
  font-size:2vw;
}

.btn.btn-inverse.btn-main-1{
  color:#AD9849;
  border-color: #AD9849;
}

.btn.btn-inverse.btn-main-2{
  color: #DD7F6C;
  border-color: #DD7F6C;
}
p.header-card-style{
  line-height: normal;
  color:#DD7F6C;
  font-weight: bold;
  font-size: 34px;
  margin: 0px;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}