<div class="content-container">
    <div class="clr-col-12">
        <div class="clr-row clr-justify-content-center">
            <h1>Tengo una voz madura que transmite cercanía, credibilidad y confianza...</h1>
            <h2>Te ofrezco profesionalidad y calidad al servicio de tu negocio.</h2>
        </div>
        <!-- <div class="clr-row clr-justify-content-center">
            <img style="width:100%"src="./assets/img/FotoPaco.jpg">
        </div> -->
        <!-- <p>Página de inicio</p> -->
            <h4>Escucha mi voz...</h4>
            <audio controls>
                Animación
                <source src="../../assets/audio/escuchamivoz.mp3" type="audio/mp3">
            </audio>
      
        <div class="clr-row clr-justify-content-center">
            <img src="./assets/img/micro1.png" style="opacity: 0.5;">
        </div>
    </div>
</div>